Raspberry/RP-008395-DS-1-VGA-KiCAD/__MACOSX/._VGA
Raspberry/RP-008395-DS-1-VGA-KiCAD/__MACOSX/VGA/._.DS_Store
Raspberry/RP-008395-DS-1-VGA-KiCAD/__MACOSX/VGA/._Icon_
Raspberry/RP-008395-DS-1-VGA-KiCAD/__MACOSX/VGA/._RPi_Pico.pretty
Raspberry/RP-008395-DS-1-VGA-KiCAD/__MACOSX/VGA/RPi_Pico.pretty/._Icon_
